apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana-deployment
  labels:
    app: grafana
spec:
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana
          image: grafana
          imagePullPolicy: Never
          livenessProbe:
            exec:
              command:
              - sh
              - /status.sh
            initialDelaySeconds: 10
            periodSeconds: 5
          ports:
          - containerPort: 3000
