apiVersion: apps/v1
kind: Deployment
metadata:
  name: ftps
  labels:
    app: ftps
spec:
  selector:
    matchLabels:
      app: ftps
  template:
    metadata:
      labels:
        app: ftps
    spec:
      containers:
        - name: ftps
          image: ftps
          imagePullPolicy: Never
          livenessProbe:
            exec:
              command:
              - sh
              - /status.sh
            initialDelaySeconds: 10
            periodSeconds: 5
          ports:
            - containerPort: 21
            - containerPort: 31110
            - containerPort: 31111
